/*
Original design: Basic Reader (v1.0 - Nov 17, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/basic-reader/
*/

*{margin:0; padding:0;}
html {height:95%;}
body {background:#fff url(../gfx/background.jpg) top center no-repeat; color:#303030; font:92% Georgia,Times New Roman, serif; line-height:1.5em; height:100%;}

a { color: #3b7ab8; text-decoration:none; }
a:hover, a:focus { color: #2d3754; text-decoration:underline; }

p,ul,ol,dl {margin:0 0 20px 20px;}

h1 {color:#A51C30; font-size:2em; line-height:1.1em;}
h1 a {color:#A51C30; font-weight:400; text-transform:none;}
h2 {font-size:1.8em; color:#293352; margin:0 0 15px;}
h3 {font-size:1.2em; margin:10px 0 8px 20px;}
h1,h2,h3 {font-weight:400;}

#headwrap {color:#303030; margin:40px auto; padding:0; width:920px;   }
#headerleft {float:left;}
#headerright {float:right;}
#banner {margin:10px 2px 0px 0px;text-align: center;}
#bodywrap {color:#303030; margin:20px auto; padding:0; width:920px;   }
#content {text-align:left; width:700px;}
#sidebar {float:right; line-height:1.4em; width:200px;}
#sidebar ul {font-size:0.9em; list-style:none; margin:0; padding:0 0 15px 0;}
#sidebar li {list-style:none; margin:0 0 5px; padding:0;}
#sidebar li a {font-size:1.4em;}
#sidebar ul ul {line-height:1.2em; margin:8px 0 8px 20px; padding:0;}
#sidebar ul ul li a {font-weight:400;}
#sidebar h2 {font-size: 1.4em;}
#sidebar img {margin-bottom:20px;}
#screenshot img {margin:10px 10px 20px 20px; width:500px; }

.slogan {color:#777; font-size:1.2em; font-weight:400; margin:0 0 20px 0;}
.readmore {text-align:right; margin:0 20px 30px 0;}
.timestamp {font-size:1.2em; margin:-5px 0 15px 0;}
.timestamp a {font-weight:normal;}
.credits {font-size:0.8em; color:#777; margin:0; position: absolute; bottom: 0;}
.credits a {color:#777;}
.clear {clear:both;}



#image_dropzone {

  width: 300px;
  height: 300px;
  border: 3px dashed gray;
  float:left;

}

#segmentation_dropzone {

  width: 300px;
  height: 300px;
  border: 3px dashed gray;
  margin-left: 350px;


}